@use '../styles/global.scss' as *;

.cnt-home-page {
  h1 {
    text-align: center;
  }

  .cnt-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;

    .btn-add {
      @include button;
      align-self: flex-start;
      height: 48px;
    }
  }

  .cnt-total-records {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px 0px 20px;
    span {
      font-size: 1.2em;
      background-color: transparent;
    }
  }
}
