@use '../styles/global.scss' as *;
@use '../styles/colors.scss' as *;
@use '../styles/variables.scss' as *;

.cnt-text-card {
  border: 1px solid #ccc;
  border-radius: $space-1;
  padding: $space-1;

  p {
    margin-top: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
  }

  &:hover {
    border-color: $border-color-primary;
  }

  .btn-delete {
    @include button;
    gap: $space-1;
    display: flex;
    padding: 0.4em 1em;
  }
}
